<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/css text/xml application/x-javascript application/javascript application/xhtml+xml
    <FilesMatch "\\.(js|css|html|htm|xml)$">
    SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
    RewriteCond %{http_host} ^robinwebdev.com
    RewriteRule ^(.*) http://www.robinwebdev.com/$1 [R=301,L]

    RewriteBase /

    # block text files in the content folder from being accessed directly
    RewriteRule ^content/(.*)\.txt$ error [R=301,L]

    # make site links work
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*) index.php [L]
</IfModule>

<FilesMatch "\.(htm|html|php)$">
    <IfModule mod_headers.c>
        BrowserMatch MSIE ie
        Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
    </IfModule>
</FilesMatch>

AddDefaultCharset UTF-8

ErrorDocument 404 /404.html